{% extends 'core/base.html' %}
{% block titulo %}
    Sobre Mí
{% endblock titulo %}
{% block contenido %}
    <h1>Sobre mi</h1>
    <p>¡Hola a todos! Soy Mariana Álvarez Flores, ¡pero pueden llamarme Marian!
        Como periodista cada día es una aventura nueva. Cuando no estoy haciendo auditoría de medios
    (monita auditora como le digo a mis compañeros/as) o brindando asesoría en comunicación, 
    me transformo en una apasionada bailarina, compartiendo risas y coreografías con mis amigas. 
    En mi vida, los perros ocupan un lugar muy especial. Y fue la experiencia de adoptar a mi perrita Miga (sí, como los sanguchitos)
     lo que me impulsó a crear este proyecto. Creo firmemente en el poder del trabajo en equipo y en mantener siempre una sonrisa
     ¡Porque con buena actitud todo es más divertido! 🌟</p>
{% endblock contenido %}